.dice-roll-button {
	width: 100%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.no-wrap {
	white-space: nowrap;
}

.die-button-table {
	padding-left: 0 !important;
	padding-right: 0 !important;
	vertical-align: middle !important;
}