.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

#theme-button {
    max-height: 5em;
}

.large-top-margin {
    margin-top: 4.5em;
}